<html>
	<head>
	<title>EWE4You</title>
	</head>
<body>
	<div>
		<h1> EWE4You</h1>
	</div>

	<div>
		<h2> Emotional Wellbeing 4 You</h2>
	</div>
	
	<div>
		<h3><em>Teaching Young People About Emotional and Mental Wellbeing</em></h3>
	</div>
	
	<div>
		<h2><a href="">About the Project</a></h2>
		<p>Learn more about the project here!</p>
	</div>
	
	<div>
		<h2><a href="">Get Involved!</a></h2>
		<p>Learn more about how you can get involved in the project's development!</p>
	</div>

	<div>
		<h2><a href="">View Prototype</a></h2>
		<p>See what the content of the app will look like here</p>
	</div>

	<div>
		<h2><a href="">Give Us Your Feedback</a></h2>
		<p>Fill in our survey to help inform the apps development!</p>

	
</body>
</html>